.login {
  max-width: 630px;
  margin: 0 auto;
}

.login__fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.login__submit {
  margin: 30px auto 0;
}

.login__submit .button {
  width: 100%;
}
